.skillButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: inset 1px -14px 4px -13px rgba(207, 207, 207, 0.73);
  scrollbar-gutter: stable;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid rgba(186, 186, 186, 1);
  border-radius: 12px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
  &:focus {
    border-color: rgba(106, 11, 255, 1);
  }
}

.button svg {
  padding-right: 5px;
}

.skillsExpandButton {
  background: none;
  border: 0;
  align-self: flex-start;
  text-decoration: underline;
  color: rgba(106, 11, 255, 1);
  cursor: pointer;
  margin-top: 5px;
}