.sidebar {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  max-width: 400px;
  gap: 20px;
  padding: 20px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
}

.closeButton {
  display: none;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid rgba(186, 186, 186, 1);
  border-radius: 8px;
  transition: 0.2s ease;
  color: red;
  &:hover {
    background-color:rgb(245, 245, 245);
  }
}

.searchInputWrapper {
  position: relative;
  color: rgba(163, 163, 163, 1);
}

.searchInputWrapper input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 68px;
  padding: 10px 20px 10px 55px;
  font-size: 16px;
  box-sizing: border-box;
  &:focus {
    outline: 1px solid rgba(106, 11, 255, 1);
  }
  &::placeholder {
    color: rgba(163, 163, 163, 1);
  }
}

.searchInputWrapper:focus-within {
  color: rgba(106, 11, 255, 1);
}

.closeButton {
  background: none;
  border: none;
}

.closeIcon {
}

.searchIcon {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 25px;
}

.filtersQuestion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1095px) {
  .sidebar {
    display: none;
  }
  .sidebar.open {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  .closeButton {
    display: flex;
    align-self: flex-end;
  }
}

@media (max-width: 400px) {
  .sidebar {
    display: none;
    position: static;
    width: 100%;
    border-radius: 0;
  }

  .sidebar.open {
    display: flex;
    position: static;
    width: 100%;
  }

  .openButton.open {
    display: none;
  }
  .closeButton {
    display: flex;
    align-self: flex-end;
  }
}
