.list-questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 740px;
  min-width: 0;
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
  background-color: #ffffff;
  gap: 40px;
  padding: 20px 20px 40px 20px;
  border-radius: 24px;
  font-family: inherit;
}

.list-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 0.5px solid #e8e8e8;
}

@media (max-width: 400px) {
  .main {
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px 0px;
    padding: 0;
  }

  .list-questions {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
}

