.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 740px;
  min-width: 0;
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 24px;
  font-family: inherit;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 0.5px solid #e8e8e8;
}

.questionsTitle {
  margin: 0;
  padding: 20px 0px 25px 0px;
}

.sidebarOpenButton {
  display: none;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid rgba(186, 186, 186, 1);
  border-radius: 8px;
  background: none;
}

.openIcon {
  width: 27px;
  height: 27px;
  min-width: 27px;
  min-height: 27px;
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

@media (max-width: 1095px) {
  .sidebarOpenButton {
    display: flex;
  }
  .sidebarOpenButton.open {
    display: none;
  }
}

@media (max-width: 400px) {
  .questions {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
}
