.listItem {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
  border-radius: 8px;
  list-style-type: none;
  padding: 20px 16px;
  font-size: 18px;
}

.itemButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 30px;
  border: 0;
  outline: 0;
  background: none;
  color: rgba(25, 25, 25, 1);
  cursor: pointer;

  &::before {
    content: '';
    background-image: url('/src/assets/icons/list-item-ellipse.svg');
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.itemTitle {
  margin: 0;
}

.chevron {
  transition: 0.5s ease;
  min-width: 24px;
  min-height: 24px;
}

.chevron.open {
  transform: rotate(-180deg);
}

.itemContent {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 0;
  opacity: 0;
  visibility: hidden; 
  transform: translateY(-20px);
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.itemContent.open {
  padding: 16px 10px 0px 10px;
  max-height: 1000px; 
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.itemMetrics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.metric {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 10px 6px 10px;
  background-color: rgba(248, 248, 248, 1);
  border-radius: 8px;
}

.metric p {
  padding-right: 10px;
  margin: 0;
}

.metric span {
  padding: 0px 5px;
  border-radius: 4px;
  background-color: rgba(106, 11, 255, 1);
  color: white;
  font-size: 16px;
  font-weight: lighter;
}

.itemImage {
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: block;
}

.itemQuestion {
  margin: 0;
  line-height: 1.5;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.turnupQuestionSpecific {
  display: flex;
  align-items: center;
  justify-content: end;
}

.turnupQuestionSpecific svg {
  padding-left: 5px;
}

@media (max-width: 650px) {
  .itemQuestion {
    -webkit-line-clamp: 10;
  }
}

@media (max-width: 485px) {
  .itemQuestion {
    -webkit-line-clamp: 11;
  }
}
