.page {
  height: 28px;
  padding: 0px 5px;
  border-radius: 4px;
  border: none;
  color: rgba(71, 71, 71, 1);
  font-size: 16px;
  font-weight: 400;
  background: none;
  cursor: pointer;
}

.current {
  color: white;
  background-color: rgba(106, 11, 255, 1);
}
