.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .main {
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px 0px;
    padding: 0;
    margin-top: 0;
  }
}