:root {
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Manrope, sans-serif;
  font-weight: light;
  font-style: Medium;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(25, 25, 25, 1);
}

button,
input,
textarea,
select {
  font-family: inherit; /* Наследовать от body */
}
